.cs_about.cs_style1{
    padding-left: 15px;

    .cs_section_sub_heading{
        margin-bottom: 25px;
    }
    
    .cs_last_column,
    .cs_about_signature{
        margin-bottom: 25px;
    }

    .cs_about_link{
        height: 37px;
        width: 37px;
        margin-right: 10px;
        &:last-child{
            margin: 0;
        }
    }
}