.cs_blog {
  .cs_section_sub_heading{
    margin-bottom: 12px;
  }

  .cs_blog_post.cs_style1 {
    overflow: hidden;
    transition: all 0.4s ease;
    border: 1px solid #dfe1e4;
    &:hover {
      box-shadow: 0px 4px 25px 6px rgba(179, 190, 201, 0.2);
      transform: translateY(-3px);
    }
    .cs_blog_post_thumbnail {
      overflow: hidden;
      display: block;
      img {
        transition: inherit;
        height: auto;
        width: 100%;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .cs_blog_post_meta,
    .cs_blog_post_heading{
      margin-bottom: 10px;
    }
    .cs_blog_post_date,
    .cs_blog_post_comment {
      display: flex;
      align-items: center;
      font-size: 14px;
      svg {
        margin-right: 5px;
      }
    }
    .cs_blog_post_comments {
      margin-left: 20px;
    }
    .cs_blog_post_info {
      padding: 20px 25px;
    }
    
    .cs_blog_post_post_author {
      height: 60px;
      display: flex;
      align-items: center;
      border-top: 1px solid rgba(108, 118, 132, 0.22);
      padding-left: 20px;
      img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin-right: 15px;
      }
    }
  }
}
@media only screen and (max-width:778px) {
  .cs_flex_space_between.cs_vertical_middle{
    align-items: flex-start;
  }
}