.cs_funfact_container {
    margin-left: -15px;
    margin-right: -15px;
    .cs_funfact.cs_style1 {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        .cs_funfact_number {
            margin-bottom: 5px;
        }
        .cs_funfact_heading {
            text-transform: uppercase;
            margin: 0;
        }
    }
}

@media only screen and (max-width: 778px) {
    .cs_funfact_container.cs_flex_space_between {
        margin-left: -15px;
        margin-right: -15px;
        flex-wrap: wrap;
        .cs_funfact.cs_style1 {
            padding-left: 15px;
            padding-right: 15px;
            width: 50%;
        }
    }
}