.cs_hero.cs_style1 {
  height: 778px;
  background-position: bottom center;
  position: relative;
  .cs_hero_heading {
    margin-bottom: 46px;
    display: inline-block;
    > * {
      position: relative;
      display: inline-block;
      svg {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }
  .cs_hero_text {
    margin-bottom: 27.38px;
  }
  .cs_btn {
    height: 52px;
    width: 186px;
  }
  .cs_hero_info {
    position: relative;
    z-index: 11;
  }
  .cs_hero_img {
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .cs_scroll {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    .cs_icon{
      position: relative;
      height: 56px;
      width: 40px;
      border: 3px solid rgba($accent, 0.3);
      border-radius: 30px;
      &::before{
        position: absolute;
        content: "";
        height: 10px;
        width: 5px;
        border-radius: 5px;
        background-color: rgba($accent, 0.8);
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        animation: UpAndDown 3s infinite;
        @keyframes UpAndDown {
          0%, 100%{
            top: 10%;
          }
          50%{
            top: 70%;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .cs_hero.cs_style1 {
    display: initial;
    background-color: rgba($accent, 0.1) !important;
    background-image: none !important;
    .cs_hero_img {
      top: 0;
      left: 50%;
      transform: translate(-50%) ;
    }
  }
}
