.cs_iconbox.cs_style1{
  filter: drop-shadow(0px 0px 30px rgba(203, 203, 203, 0.25));
  padding: 40px; 
  transition: all 0.3s ease;

  &:hover .cs_iconbox_icon::before{
    rotate: 90deg;
  }
  
  .cs_iconbox_icon{
    height: 70px;
    width: 70px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 12px;
    transition: all 0.3s ease;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      transition: inherit;
      box-shadow: 0px 16px 45px -12px rgba(0, 0, 0, 0.1);
      background-color: $white;
      border-radius: inherit;
      z-index: -1;
    }
  }

  .cs_iconbox_heading,
  .cs_iconbox_text{
    margin-bottom: 15px;
  }

  .cs_iconbox_link{
    line-height: 18px;
    > * {
      margin-left: 5px;
    }
  }
}