.cs_testmonial {

  .cs_sub_section_heading{
    margin-bottom: 5px;
  }
    
  .cs_testmonial.cs_style1 {
    .cs_testmonial_name {
      margin-bottom: 3px;
    }
    .cs_testmonial_heading {
      margin-bottom: 13px;
    }
    .cs_testmonial_text {
      margin-bottom: 5px;
    }
    .cs_testmonial_author {
      margin-left: 20px;
      height: 95px;
      width: 228px;
      padding: 10px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 30px rgba(203, 203, 203, 0.25);
    }
    .cs_testmonial_img {
      position: relative;
      margin-right: 17px;
      &::before {
        position: absolute;
        content: "\f10d";
        font-family: "FontAwesome";
        height: 20px;
        width: 20px;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        background-color: $accent;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        line-height: 18px;
        border: 1px solid #f2f2f2;
        color: $white;
      }
      img {
        height: 55px;
        width: 55px;
        border-radius: 50%;
      }
    }

    .cs_testmonial_body {
      position: relative;
      z-index: -1;
      margin-top: -47px;
      padding-top: 70px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      position: relative;
      &::before {
        position: absolute;
        content: "\22";
        right: 20px;
        top: 10px;
        color: $accent;
        opacity: 0.12;
        font-size: 250px;
        transform: rotate(190deg);
      }
    }
    .cs_testmonial_ratting > * {
      margin-right: 5px;
      color: #faaf38;
      &:lacs_child {
        margin: 0;
      }
    }
  }
}
